* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    /* width: 100%;
    height: 100vh; */
    background: rgba(0, 0, 0, 0.5);
}

.popup {
    display: none;
    width: 500px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: #eee;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.close-popup {
    color: #ff0000;
    position: absolute;
    width: 25px;
    border: 2px solid #eee;
    top: 10px;
    right: 10px;
    padding-left: 4.5px;
    cursor: pointer;
}

.popup-main-text {
    padding-top: 100px;
    text-align: center;
    color: teal;
}

.popup-sub-text {
    margin: 20px;
    text-align: center;
    color: teal;
}

.popup-btn {
    display: block;
    margin: auto;
    padding: 10px 25px;
    font-weight: bolder;
    color: #ff0000;
    background: #fff;
    border: 2px solid #aeaeae;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px auto;
}

.popup-btn:active {
    outline-color: #ff0000;
}

.popup-btn:focus {
    outline-color: #858585;
    transform: scale(1.15);
    border: 15px;
}